.pink {
  background-color: #F8C8DC !important;
}

.blue {
  background-color: #A7C7E7 !important;
}

.yellow {
  background-color: #ffdd57 !important;
}

.green {
  background-color: #C1E1C1 !important;
}

.grey {
  background-color: #cfcfc4 !important;
}

.orange {
  background-color: #FAC898 !important;
}
